app = "hotel-crm"
primary_region = "bom"

[build]

[env]
  RAILS_LOG_TO_STDOUT = "true"
  RAILS_ENV = "production"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [[http_service.checks]]
    interval = "15s"
    timeout = "2s"
    grace_period = "30s"
    method = "GET"
    path = "/up"

[deploy]
  release_command = "bin/rails db:migrate"

[processes]
  app = "bundle exec puma -C config/puma.rb"
  worker = "bundle exec sidekiq -C config/sidekiq.yml"
